Exercise 2: Create Markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

+ List popular languages for Data Science
+ List commonly used libraries for Data Science
+ Evaluating arithmetic expressions in Python
+ Converting minutes to hours using Python

Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. TensorFlow

Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Code Studio|

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

Exercise 8 - Create a code cell to multiply and add numbers

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
x = (3*4) + 5
print(x)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [3]:
# This will convert 200 minutes to hours by dividing by 60
y = 200/60
print(y)

3.3333333333333335

## Author
Alexander Wilbert Wijaya